.catigories_wrapper{
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.catigories_wrapper ul{
    width: 1020px;
    margin: 0;
    height: 40px;
    background: rgb(206, 183, 183);
    display: flex;
    justify-content: center;
}

.catigories_wrapper ul li{
    margin: 0;
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catigories_wrapper ul li:first-child{
    margin-left: -40px;
}

.catigories_wrapper ul li:hover{
    background:linear-gradient(to bottom, #91D573 5%, #7AB461 100%);
    cursor: pointer;
}

@media (min-width: 1000px) and (max-width: 1300px) {
    
}