.catigories_wrapper{
    width: 80%;
    margin: 0 auto;
}

.catigories_wrapper ul{
    width: 100%;
    margin: 0 auto;
    height: 40px;
    /* background: rgb(206, 183, 183); */
    display: flex;
}

.catigories_wrapper ul li{
    margin: 0;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catigories_wrapper ul li:first-child{
   margin-left: -20px;
}

.catigories_wrapper ul li:hover{
    background:linear-gradient(to bottom, #b37d4a7e 5%, rgba(153, 115, 80, 0.808) 100%);
    cursor: pointer;
}
