.corner-ribbon{
    width: 55px;
    background: rgba(238, 53, 7, 0.603);
    position: relative;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  /* Custom styles */
  
  .corner-ribbon.sticky{
    position: fixed;
  }
  
  .corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
  }
  
  /* Different positions */
  
  .corner-ribbon.top-left{
    top: -195px;
    left: 0;
    transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}