.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }

  /* Comment */

  .books_wrapper{
    display: block;
    
  }

  .books_wrapper .book_wrapper{
    float: left;
    margin-left: 16px;
    /* background: rgb(199, 174, 174); */
  }

  .paginate_wrapper{
    display: flex;
    align-items: center;
    position: relative;
    top: 100%;
    
  }

  .add_icon{
    position: relative;
    left: 16px;
    top: 239px;
    color: rgba(73, 11, 243, 0.747);
    background: rgba(235, 230, 230, 0.801);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

  .like_icon{
    position: relative;
    left: 55px;
    top: 64px;
    color: rgba(241, 226, 8, 0.932);
    
  }

  @media (min-width: 951px) and (max-width: 1000px){
    .books_wrapper{
      padding-left: 50px;
    }
  }
  @media (min-width: 901px) and (max-width: 950px){
    .books_wrapper{
      padding-left: 30px;
    }
  }
  @media (min-width: 849px) and (max-width: 900px){
    .books_wrapper{
      padding-left: 80px;
    }
  }
  @media (min-width: 801px) and (max-width: 850px){
    .books_wrapper{
      padding-left: 50px;
    }
  }
  @media (min-width: 751px) and (max-width: 800px){
    .books_wrapper{
      padding-left: 40px;
    }
  }
  @media (min-width: 700px) and (max-width: 751px){
    .books_wrapper{
      padding-left: 20px;
    }
  }
  @media (min-width: 631px) and (max-width: 671px){
    .books_wrapper{
      padding-left: 55px;
    }
  }
  @media (min-width: 560px) and (max-width: 630px){
    .books_wrapper{
      padding-left: 25px;
    }
  }
  @media (min-width: 480px) and (max-width: 506px){
    .books_wrapper{
      padding-left: 60px;
    }
  }
  @media (min-width: 440px) and (max-width: 481px){
    .books_wrapper{
      padding-left: 50px;
    }
  }
  @media (min-width: 400px) and (max-width: 441px){
    .books_wrapper{
      padding-left: 35px;
    }
  }
  @media (max-width: 341px){
    .books_wrapper{
      padding-left: 70px;
    }
  }