.cart_wrapper .cart_logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background: rgba(110, 88, 88, 0.548); */
    margin-bottom: -15px;
    margin-top: -10px;
}
.cart_wrapper .product_counter{
    display: none;
}
.cart_logo .cart_icon{
    font-size: 27px;
    color: teal;
}
.cart_logo p:nth-child(2){
    font-size: 23px;
    margin-top: 12px;
}
.cart_logo p:nth-child(3){
    font-size: 13px;
    margin-top: 16px;
}

.price_box{
    display: flex;
    align-items: center;
}

.price_box .price{
    font-size: 27px;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* background: rgba(235, 7, 7, 0.932); */
}

.price_box .price p{
    margin: 0;
    padding: 0;
}

.price_box button {
	box-shadow:inset 0px 1px 0px 0px #7d90c4;
	background:linear-gradient(to bottom, #3e4757 5%, #000000 100%);
	background-color:#3e4757;
	border-radius:6px;
	border:1px solid #32353b;
	display:inline-block;
	cursor:pointer;
	color:#f2e4f2;
	font-family:Arial;
    font-size:15px;
    height: 23px;
    margin-left: 10px;
}
.cart_wrapper button:hover {
	background:linear-gradient(to bottom, #000000 5%, #3e4757 100%);
	background-color:#000000;
}

@media (max-width: 900px){
    .cart_wrapper .cart_logo{
        margin: 0;
        position: relative;
    }
    .cart_wrapper .product_counter{
        display: block;
        margin-bottom: -20px;
        margin-left: 38px;
        text-align: center;
        position: relative;
        z-index: 10;
        
    }
    .cart_logo .cart_icon{
        font-size: 55px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .cart_logo p:nth-child(2){
        display: none;
    }
    .cart_logo p:nth-child(3){
        display: none;
    }
    
    .price_box{
        display: none;
    }
}