@import url('https://fonts.googleapis.com/css?family=Montserrat');
.footer_wrapper{
    display: flex;
    flex-direction: column;
}
.books_genre_wrapper{
    height: 354px;
    background: #45423F;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.books_genre_wrapper ul{
    width: 250px;
    margin-left: -10px;
    /* background: rgb(226, 209, 209); */
}
.books_genre_wrapper ul:first-child{
    margin-left: -40px;
}
.books_genre_wrapper li{
    border-bottom: 1px solid #afb1b0;
    color: #afb1b0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    /* background: rgba(206, 8, 8, 0.233); */
}
.books_genre_wrapper ul .title{
    font-size: 20px;
    color: #d3d3d3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}










.payment_wrapper{
    height: 92px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #2f2d2e;
    align-items: center;
}
.payment_wrapper p{
    color: #f1f1f1;
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Montserrat;
}
.payment_wrapper .payment_logos{
    display: flex;
    justify-content: center;
}
.payment_wrapper .payment_logos img{
    margin-left: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.footer_end_wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: #2F2D2E;
    color: #f1f1f1;
    border-top: 1px solid rgba(146, 130, 130, 0.205);
}

.footer_end_wrapper p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Montserrat;
}

@media (max-width: 900px){
    .payment_wrapper{
        display: none;
    }

    .footer_end_wrapper{
        height: 28px;
    }
    
    .footer_end_wrapper p{
        font-size: 12px;
    }
}