body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p{
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.middle_side_wrapper{
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
}
.navbar_wrapper{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.footer_wrapper_fixed{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.sigIn_wrapper, .signUp_wrapper{
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px){
  .sigIn_wrapper, .signUp_wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}


.modal_icons{
  background: rgba(10, 114, 72, 0.384);
  position: fixed;
  top: 40vh;
  right: 0;
  z-index: 2300;
  padding: 4px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
