.banner_wrapper{
    max-width: 1020px;
    /* background: rgb(219, 203, 203); */
    /* height: 328px; */
    padding: 10px;
    margin: 0 auto;
    display: flex;
}

.banner_wrapper .carousel_wrapper{
    width: 60%;
    /*height: 304px;*/
    /* background: rgb(240, 234, 234); */
    margin: 0 auto;
}

.banner_wrapper .adv_wrapper{
    width: 38%;
    /* height: 304px; */
    /* background: rgb(65, 19, 19); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

@media (max-width: 900px){
    .banner_wrapper{
        
    }
    
    .banner_wrapper .carousel_wrapper{
        margin: 0 auto;
    }
    
    .banner_wrapper .adv_wrapper{
        width: 100%;
        margin: 0 auto;
    }

    .banner_wrapper .adv_wrapper img{
        width: 60%;
        margin: 0 auto;
    }
}