.banner_wrapper{
    max-width: 1020px; 
    padding: 10px;
    margin: 0 auto;
    height: 220px;
    background: rgba(0, 0, 0, 0.158);
    margin-top: 5px;
}

 .banner_wrapper .carousel_wrapper{
    width: 80%;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.banner_wrapper .adv_wrapper{
   position: relative;
   top: 0;
   right: 0;
}

.banner_wrapper .adv_wrapper img{
    width: 180px;
    margin: 0 auto;
}
